footer.footer
  .container
    .row
      .col-12.col-lg-4
        a(class='logo-link' href='/')
        .footer-descr.
          lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
        .footer-links
          a(class = 'footer-link' href = '#') help
          a(class = 'footer-link' href = '#') TERMS & CONDITION
          a(class = 'footer-link' href = '#') PRIVACY
      .col-12.col-lg-4
        .footer-title OUR STUDIO
        a(class = 'footer-location') Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
        a(class = 'footer-phone' href = 'tel:+622122243333') (+62) 21-2224 3333
      .col-12.col-lg-4
        .footer-title STAY IN TOUCH
        form.footer-subscribe
          .form-item.subs
            input(type = 'email' placeholder = 'Subscribe our newsletter' required = 'required')
            .form-item-error Error
          button(class = 'btn btn-footer-subscribe' type = 'submit')
        .footer-social
          a(class = 'footer-social-link fb' href = '#')
          a(class = 'footer-social-link tw' href = '#')
          a(class = 'footer-social-link ds' href = '#')
          a(class = 'footer-social-link ins' href = '#')
          a(class = 'footer-social-link gp' href = '#')
          a(class = 'footer-social-link yt' href = '#')

        .footer-basement
          .footer-links.mobile
            a(class = 'footer-link' href = '#') help
            a(class = 'footer-link' href = '#') TERMS & CONDITION
            a(class = 'footer-link' href = '#') PRIVACY

          .footer-copyright
            span Copyright © 2015 -
            a(class = 'footer-copyright-link' href = '#') Tajem Creative