.home-section
  .container
    .row
      //.col-1
      .col-12.col-lg-10.centered
        h2 We Are Awesome Creative Agency
        hr.line
        .section-description
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        a(class='btn btn-primary' href='#') LEARN MORE
      //.col-1