.video
  .container
    .row
      .col-12
        .video-block
          a(data-fancybox href="https://www.youtube.com/embed/KvUgaHTNit4" class='video-img')
          a(data-fancybox href="https://www.youtube.com/embed/KvUgaHTNit4" class='video-link') WATCH OUR STORY
